<section class="table-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 total-left" >
        <div class="head-button">
          <ul>
            <li><button class="btn btn-warning">Guests</button></li>
            <li><button class="btn btn-success">Table</button></li>
            <li><button class="btn btn-success">Customer</button></li>
            <li><button class="btn btn-success">Pic UP</button></li>
            <li><button class="btn btn-success btn-last">Orders</button></li>
          </ul>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-left">Item Name</th>
                <th>Discount</th>
                <th>QTY</th>
                <th class="text-right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
              <tr>
                <td class="text-left">Item 1</td>
                <td>$12</td>
                <td>City City</td>
                <td class="text-right">$15456</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="head-button bottom-button">
          <ul>
            <li><button class="btn btn-success">Up icon</button></li>
            <li><button class="btn btn-success">Down icon</button></li>
            <li><button class="btn btn-success">Clear</button></li>
            <li><button class="btn btn-success">Misc</button></li>
            <li><button class="btn btn-success btn-last">Qty</button></li>
          </ul>
        </div>
        <div class="sametion">
          <div class="row">
            <div class="col-md-5  col-md-offset-7">
              <h2>Sub Total : </h2>
            </div>
            <div class="col-md-5  col-md-offset-7">
              <h2>Tax: </h2>
            </div>
            <div class="col-md-5  col-md-offset-7">
              <h2><b>TOTAL : $214.33</b></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 total-right">
        <div class="row">
          <div class="col-md-4">
            <div class="backgroumd-box">
              <h2>Dep Group</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="backgroumd-box box-2">
              <h2>Items Group</h2>
            </div>
          </div>
        </div>
        <div class="more-btns">
          <div class="small-btn">
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-success fl">Send</button>
                <button type="submit" class="btn btn-success fl">Check</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-info fl" routerLink="/inventory/new-item">Inventory</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-info fl">Button</button>
                <button type="submit" class="btn btn-success fl">Hold</button>
                <button type="submit" class="btn btn-success fl">Pay</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
