<div class="container-fluid">
    <div class="calculater-sec">
        <div>
            <br>
            <br>
            <br>
            <div class="clearfix">
                <div class="pull-left">
                    <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModal" (click)="openModal('department')">New Department</button>
                    <button type="button" class="btn btn-md btn-primary" [hidden]="checkHideModify()" data-toggle="modal" data-target="#myModal" (click)="openModal('modify')">{{contentbtnmodify}}</button>
                    <button type="button" class="btn btn-md btn-primary" [hidden]="checkHideDelete()" (click)="deleteNode()">{{contentbtndelete}}</button>
                    <button type="button" class="btn btn-md btn-primary" [hidden]="checkHideSection()" data-toggle="modal" data-target="#myModal" (click)="openModal('section')">New Section</button>
                    <button type="button" class="btn btn-md btn-primary" [hidden]="checkHideSubSection()" data-toggle="modal" data-target="#myModal" (click)="openModal('subsection')">New Sub Section</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-md btn-danger" (click)="exitPage()">Exit</button>
                </div>
            </div>
            <br>
            <fieldset class="fieldset-kt" style="border: 1px solid #c0c0c0; padding: 0.35em 0.625em 0.75em;">
                <legend class="lineHeader">Departments information</legend>
                <app-tree-view [data]="data" (onFocusNode)="onFocus($event)" (onLostFocusNode)="onLostFocus($event)"></app-tree-view>
            </fieldset>

            <br>
            <br>
            <br>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h3 class="modal-title" id="myModalLabel">New Node</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">ID:</div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" [(ngModel)]="codenodeedit" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">Descriptions:</div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" [(ngModel)]="namenodeedit" maxlength="10" />
                            </div>
                            <div class="col-lg-4" style="display: none;">
                                <a href="javascript:void(0)" class="languages-kt">
                                    <span class="fa fa-globe"></span> Languages</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <div class="row">
                            <div class="col-lg-2">Cost center:</div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closePopup()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveNode()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>