<svg [attr.width]="canvasWidth" [attr.height]="canvasHeight">
    <ng-container *ngFor="let node of traversalOrder; let i = index" style="margin: 10px;">
        <text *ngIf="i!=0" [attr.x]="nodeWidth*(node.level+1)+(nodeWidth- 55)" [attr.y]="nodeHeight*(i+1)-nodeHeight + 32" fill="#003171"
            font-family="Verdana" font-size="8px" style="stroke:rgb(8, 8, 8);stroke-width:5" >></text>
        <g *ngIf="i!=0" class="txtTitle" (click)="focusFunction(node._id)">
            <rect width="150" height="21" [attr.x]="nodeWidth*(node.level+1)+(nodeWidth-45)" [attr.y]="nodeHeight*(i+1)-nodeHeight + 20"
            rx="3" ry="3" [ngClass]="renderClass(node._id)">
            </rect>
            <text text-anchor="middle" alignment-baseline="central" [attr.x]="nodeWidth*(node.level+1)+(nodeWidth + 25)" [attr.y]="nodeHeight*(i+1)-nodeHeight+ 30"
                fill="#000000" font-family="Verdana" font-size="14px">{{node.name}}</text>
        </g>
        <line *ngIf="i!=0" [attr.x1]="nodeWidth*(node.level+1)" [attr.y1]="renderYRoot(node, i)" [attr.x2]="nodeWidth*(node.level+1)"
            [attr.y2]="nodeHeight*(i+1)" style="stroke:#0f0f0f;stroke-width:2" />
        <line *ngIf="i!=0" [attr.x1]="nodeWidth*(node.level+1)" [attr.y1]="nodeHeight*(i+1)" [attr.x2]="nodeWidth*(node.level+1)+nodeWidth - 48"
            [attr.y2]="nodeHeight*(i+1)" style="stroke:#0a0a0a;stroke-width:2" />
    </ng-container>
</svg>